# don't ignore the file MyArray.cpp in the folder Myarray
#!MyArray/MyArray.cpp
# ignore the folder MyArray 
#MyArray/

MyArray/*.vs
MyArray/*.sln
MyArray/*.vcxproj
MyArray/*.filters
MyArray/*.user
MyArray/Debug

